/* 
 * enroute.css --- 
 *     some consistency with rando.css of ORR site. 
 */

body { color: black;
	background: white;
	margin-left: 3%; 
	margin-right: 3%; 
	font-family: Verdana, Geneva,  sans-serif;
}

.pagehead {
        background: #aaffaa;
        padding-top: 1em;
        padding-bottom: 1em;
}

.pagehead p {
        text-align: center;
}
h1 {	text-align: center; 
	text-transform: capitalize; 
	font-size: 200%;
	font-family: Verdana, Geneva, sans-serif;
    margin-bottom: -.2em;
}

h2 {	font-size: 150%;
}

h3 { font-size: 140%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }

/* forms */

form th {
   text-align: left; 
}

form p {
   clear:  left;
   padding: 0;
   /* padding-top: 3px; */
}

form p label {
   float:  left;
   text-align: right;
   margin-right: 4px; 
   width: 15%;
   font: 0.9em Arial, Helvetica, sans-serif;
}
/* end forms */