<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head;
        any other head content must come *after* these tags -->

    <title>Track</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
       href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
       integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
       crossorigin="anonymous"> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
<h1>Track Me</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <form action="_trackme">
    <div class="row">
     <div class="col-md-3">
       <label for="route">Route</label>
     </div> <!-- col -->
     <div class="col-md-6">
     <select name="route"required>
     <option value="Hawkins">Hawkins after work</option>
     <option value="Alsea">Alsea Loop (200k)</option>
     <option value="NPBanks-Vernonia">North Plains Banks Vernonia (100k)
       </option>
      <option value="Bvt-Hagg">Beaverton-Hagg Lake 200</option>
   </select>
       <select name="route-color" id="route-color">
	 <option value="rgb(0,153,51)">
	   <span style="background: rgb(0, 153, 51);">
	   Green</span></option>
	 <option value="rgb(0, 153, 204)">
	   <span style="background-color: rgb(0, 153, 204);">
	   Turquoise</span></option>
	 <option selected value="rgb(204,102,0)">
	   <span style="color: rgb(204, 102, 0);">
	   Brown</span></option>
	 <option value="rgb(0, 0, 102)">
	   <span style="background: rgb(0, 0, 102);">
	   Indigo</span></option>
	 <option value="rgb(102, 0, 255)">
	   <span style="background: rgb(102, 0, 255);">
	   Prince</span></option>
	 <option value="rgb(255, 102, 255)">
	   <span style="background: rgb(255, 102, 255);">
	   Fuschia</span></option>
       </select>
       <!-- Show the selected path color -->
       <span id="color-cue" 
       style="background-color: rgb(204,102,0);"> &nbsp;&nbsp;&nbsp;&nbsp;
       </span>
       
	 
	   

   </div> <!-- col -->
   </div> <!-- row -->
   <div class="row">
   <div class="col-md-3">
     <label for="rider_name">Rider name</label>
   </div> <!-- col -->
   <div class="col-md-6">
     <input type="text" name="rider_name" size=30 required></input>
   </div> <!-- col -->
   </div> <!-- row -->
   <div class="row">
   <div class="col-md-3">
    <label for="spot_url">Spot public page URL:</label>
   </div>
   <div class="col-md-9">
    <input type="url" name="spot_url" id="spot_url"
          size="95">
    </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
    <div class="col-md-9">
      <span id="badurlmsg"></span>
    </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
    <div class="col-md-3">
       <input type="submit" value="Track" />
    </div> <!-- col -->
    </div? <!-- row -->
</form>



</div> <!-- container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>

    <script>

    $('input[name="spot_url"]').change(
    function() {
      var page_url = $(this).val();
      var gid = page_url.split("/").slice(-1)[0].split("=").slice(-1)[0];
      $("#gid").html(`Device identifier:  ${gid}`);
      if (gid.length == 0) {
	 $('#badurlmsg').html("");
	 this.setCustomValidity('');
	 console.log("No Spot to track (ok)");
      } else if (gid.length == 33) {
	 $('#badurlmsg').html("");
	 this.setCustomValidity('');
	 console.log("Accepted spot URL");
      } else {
      	 $('#spot_url')[0].setCustomValidity(
	    "This URL does not end with the 33-character Spot device ID");
	 $('#badurlmsg').html(
	   "<p>URL should look like this: " +
	     "http://share.findmespot.com/shared/faces/viewspots.jsp?glId=0GiLP5jn9iVj8z8qm90QaMnkpyxdAmruk </p>")
	 console.log("Rejected spot gid " + gid);
         console.log("Length was " + gid.length);
      }
    });

    $('#route-color').change(
     function() {
        var selection = $('#route-color').val();
        console.log("Color selected: " + selection);
	$('#color-cue').css("background-color",selection);
     });
	




    
    </script>


</body>
</html>